<div class="row">
  <div class="col-6">
grafica
        <app-dona  [labels]="labels1" [data]="data1"  title="Ventas"></app-dona>
    </div>

    <div class="col-6">
      grafica
      <app-dona [labels]="labels2" [data]="data2" title="Ventas tacos"></app-dona>
    </div>


</div>

<div class="row">
  <div class="col-6">
        grafica
        <app-dona [labels]="labels3" [data]="data4" title="Ventas4 tacos"></app-dona>
    </div>

    <div class="col-6">
      grafica
      <app-dona [labels]="labels4" [data]="data4" title="Ventas3 tacos"></app-dona>
    </div>


</div>

